@model PageResult<UserViewModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

    <main>
        <div class="container-fluid">
            <h1 class="mt-4">Quản Lí Tài Khoản</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Dòng này chưa có ý tưởng ^^</li>
            </ol>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table mr-1"></i>
                    DataTable Example
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="background-color:white;color:black">
                            <thead>
                                <tr>
                                
                                    
                                    <th>UserName</th>
                                    <th>Email</th>
                                    <th>PhoneNumber</th>
                                    <th>Address</th>
                                    <th>Fullname</th>
                                    <th>Birthday</th>
                                </tr>
                                
                            </thead>
                            <tfoot>
                                <tr>
                                    
                                    <th>UserName</th>
                                    <th>Email</th>
                                    <th>PhoneNumber</th>
                                    <th>Address</th>
                                    <th>Fullname</th>
                                    <th>Birthday</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                
                                @foreach (var item in Model.Items)
                                {
                                    <tr>
                                        
                                        <td>
                                            @Html.ActionLink(item.UserName, "Details", new { id = item.Id, role = ViewData["role"] })
                                            
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Address)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Fullname)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Birthday)
                                        </td>
                                        
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
     
